.photo {
  height: 600px;
  width: 700px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}
/* .photo-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
} */

