@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



.contact-links {
    text-align: center;
	display: block;
	justify-content: center;
	align-items: center;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 100px;
}
.github-logo {
    height: 75px;
    width: 75px;
}
.linkedin-logo {
    height: 75px;
    width: 75px;
}
.resume-logo {
    height: 75px;
    width: 75px;
}
.contact-title, .contact-paragraph {
    font-family: 'Roboto';
}
.github-link, .linkedin-link, .resume-link {
 font-family: 'Roboto';
 /* margin: 0; */
 margin-right: 20px;
 font-weight: bold;
 padding-left: 15px;
}