

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


.header-items {
    list-style-type: none;
    margin: 0;
    float: right; 
    margin-right: 20px;
    padding-top: 50px;
   
}

.header-items li {
  display: inline-block;
  margin-left: 10px;
   /* font-family: 'UnifrakturCook'; */
   font-family: 'Sedgwick Ave Display';
}
.logo {
    width: 175px;
    height: 100px;
    /* padding-top: -200px; */

}

