@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');




.header-items {
    list-style-type: none;
    margin: 0;
    float: right; 
    margin-right: 20px;
    padding-top: 30px;
   
}

.header-items li {
  display: inline-block;
  margin-left: 10px;
  font-family: 'Roboto';
  font-weight: bold;
   
}
.logo {
    width: 175px;
    height: 100px;
   

}
.logo2 {
    width: 225px;
    height: 75px;
    
   

}
